<!DOCTYPE html>
<html>
  <head>
    <title>45° Imagery</title>
    <script src="../static/map.js"></script>  
    <link rel="stylesheet" href="../static/map.css">
    <!-- jsFiddle will insert css and js -->
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyConR294pViXPOrz4QX2vP9e3hZsZNX1X0&callback=initMap"
    ></script>
  </body>
</html>