<!DOCTYPE html>
<html>
  <head>
    <title>45° Imagery</title>
    <script src="map.js"></script>  
    <link rel="stylesheet" href="map.css">
    <!-- jsFiddle will insert css and js -->
  </head>
  <body>

    <div id = "floating_panel">

      <input id = "address" type = "textbox" placeholder = "Enter Address"/>
      <input id = "submit-btn" type = "button" value = "Submit"/>

      <script>
        var input = document.getElementById("address");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("submit-btn").click();
          }
        });
        </script>

    </div>

    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    
    <!-- need to change API key for Google Maps THEN enable Geocoding API-->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyConR294pViXPOrz4QX2vP9e3hZsZNX1X0&callback=initMap"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </body>
</html>