<!DOCTYPE html>
<html>
<head>
</head>
<body>

<script src="map.js"></script>

<input type="text" id = "username" placeholder="username" required/> </br>
<input type="password" id = "password" placeholder="password" required/></br>
<input type="text" id = "email" placeholder="email" required/> </br>
<input type="checkbox" id = "checkUser" placeholder="checkUser" value="true" /> Store Owner?</br>
<input name ="user_input_autocomplete_address" id = "user_input_autocomplete_address" placeholder="Enter your address"> </br>
<input type="text" id = "message" placeholder="Enter your message"></br>
<button onclick="registerAddress()">Register</button>
<script>
	//the script runs here since registeraddress is not found if created on a different file
	function registerAddress() {
		address = document.getElementById("user_input_autocomplete_address").value;

		const geocoder = new google.maps.Geocoder();
		geocoder.geocode({ address: address }, (results, status) => {
		if (status === google.maps.GeocoderStatus.OK) {
			var lat = results[0].geometry.location.lat();
			var lng = results[0].geometry.location.lng();
			// Display Longitude and Latitude
			console.log("LAT: ", lat)
			console.log("LAT: ", lng)

			//preparing to send information over to the backend by organizing data into a data structure
			var dict = {
				'username': document.getElementById("username").value,
				'password': document.getElementById('password').value,
				'email': document.getElementById('email').value,
				'checkUser': document.getElementById('checkUser').value,
				'latitude': lat,
				'longitude': lng,
				'message': document.getElementById("message").value
			}; 
			//this will post into flask, and because we posted through this method
			//the backend will no longer be able to redirect pages 
			//the fix around is to have the backend send back a message to the frontend
			//to let it know that it's time to switch pages
			$.post("/registerAuth",dict, function(response){
				if (response == "success"){
					window.location.href = "/";
				}
				else{
					alert("User already exists")
				}
			})
		}
		else{
			alert("Geocode was not successful for the following reason" + status);
		}
		});
	}


</script>
{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<a href="/">Go back</a>

</body>


</html>

<!-- 
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyConR294pViXPOrz4QX2vP9e3hZsZNX1X0&libraries=places&callback=initMap">
</script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Include Google Maps JS API -->
<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyConR294pViXPOrz4QX2vP9e3hZsZNX1X0&libraries=places"></script>

<!-- Custom JS code to bind to Autocomplete API -->
<script type="text/javascript" src="autocomplete.js"></script>
